@font-face {
    font-family: 'Monsterrat';
    src: url('./asset/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    --title-font: 'Monsterrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media screen and (max-width: 768px) {
    :root {
        /* font-size: 80.5%; */
    }
}

#main {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden;
}

body,
#main {
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

nav>div {
    margin: 2.25vh 2vh;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 4rem;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

nav>div>a {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 1rem;
    font-family: var(--title-font);
}

nav>div>a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

#contentHolder {
    flex: 1;
    overflow-y: scroll;
}

#contentHolder>section {
    margin: 0 3rem;
}

@media screen and (min-aspect-ratio: 16/9) or (max-aspect-ratio: 18/9) {
    #contentHolder>section {
        aspect-ratio: 16/9;
        margin: auto;
    }
}

@media screen and (min-aspect-ratio: 18/9) {
    #contentHolder>section {
        width: 70%;
        /* aspect-ratio: 4/3; */
        margin: auto;
    }
}

/* lowwer Content */

#start {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    #start {
        flex-direction: column;
    }
}

#start img {
    width: 60%;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    #start img {
        width: 96%;
    }
}

.section-title-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* CLASS */
.section-title {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 12.5px;
}

.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.section-content h3 {
    font-size: 1.75rem;
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.section-content p {
    text-align: justify;
    line-height: 1.25;
}

.section-content iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.section-video-contain {
    width: 100%;
}

.section-video-contain>div>iframe {
    display: none;
    transition: all 0.5s ease-in-out;
}

.section-video-contain>div>iframe:first-child {
    display: block;
}

.section-video-contain>div[id^='battleVideo'] {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-video-contain>div[id^='battleVideo'] img {
    cursor: pointer;
}